.onboarding-frame {
    position: fixed;
    bottom: 10%;
    right: 20%;
}

.onboarding-btn-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.onboarding-btn {
    background-color: #FFB801;
    color:white;
    position: relative;
    width: 100%;
    height: 30%;

    border-radius: 25px 25px 25px 25px;
    justify-content: center;
    padding: 20px;
    display: flex;
    margin : 0 auto;
}

.onboarding-find-btn {
    background-color: transparent;
    color:white;
    border: none;
    box-shadow: none;
    position: relative;
    padding:20px;
}

.onboarding-social-btn {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
}